
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>异步POST提交，简单的提交</title>

    
    <script src="~/Scripts/UEditor/ueditor.config.js"></script>
    <script src="~/Scripts/UEditor/ueditor.all.min.js"></script>
    <script src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
   
    <script src="~/Scripts/UEditor/sop.ajax.ueditor.js"></script>
</head>
<body>
    <h1>异步POST提交，简单的提交</h1>
    <div>
        <textarea id="myeditor"></textarea>
        <input type="submit" id="btn" value="提交" />
    </div>
    
</body>
</html>
