
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="~/Home/AjaxPost" target="_blank">
        异步POST提交，简单的提交
    </a>
    <br />
    <a href="~/Home/AjaxPost1" target="_blank">
        POST提交,使用MVCHtmlHelper
    </a>
</body>
</html>
