
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/UEditor/ueditor.config.js"></script>
    <script src="~/Scripts/UEditor/ueditor.all.min.js"></script>
    <script src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
    <script src="~/Scripts/JQuery/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/UEditor/sop.ajax.ueditor.js"></script>
</head>
<body>
    <a href="Home/Index1">简单异步提交POST</a>

    <div> 
        <textarea id="myeditor"></textarea>
        <input type="submit" id="btn" />
    </div>
    
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
</html>
