
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POST提交,使用MVCHtmlHelper</title>
</head>
<body>
    <h1>POST提交,使用MVCHtmlHelper</h1>
    <form action="/Home/AjaxPost" method="post">
        @Html.UEditor("editorValue")
        <input type="submit" value="提交" />
    </form>
</body>
</html>
